 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Roboto+Slab:wght@300;400;500;600;700&display=swap');
        
        :root {
            --primary-blue:#ECEBE4;
            --secondary-blue: #DADDD8;
            --accent-gold: #f59e0b;
            --dark-blue: #1e3a8a;
            --light-blue: #dbeafe;
        }
        
        body {
            font-family: 'Inter', sans-serif;
            scroll-behavior: smooth;
        }
        
        .heading-font {
            font-family: 'Roboto Slab', serif;
        }
        
        .hero-gradient {
            background: linear-gradient(135deg, var(--primary-blue) 0%, var(--dark-blue) 100%);
        }
        
        .program-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
        }
        
        .news-card {
            transition: all 0.3s ease;
        }
        
        .news-card:hover {
            transform: translateY(-3px);
        }
        
        .counter-number {
            font-size: 3rem;
            font-weight: bold;
            color: var(--primary-blue);
            margin-left:20px;
            
        }
        
        .facility-icon {
            width: 60px;
            height: 60px;
            background: var(--light-blue);
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1rem;
        }
        .textcentre{
             margin-left: 20px;
        }
        .text-blue-600{
            margin-left: 20px;
        }
        .text-sm{
            margin-left:20px;
        }